{% extends 'common/base.html.twig' %}
{% block title %}Sosyal{% endblock %}
{% block content %}
<div class="omni-page">
    <h1 class="omni-page-title"><i class="fa-solid fa-users"></i> Sosyal</h1>
</div>
{% endblock %}
