{% extends 'common/base.html.twig' %}
{% block title %}Parti Kur{% endblock %}
{% block content %}
<div class="omni-page">
    <h1 class="omni-page-title">Parti Kur</h1>
    <p>Parti kurma sistemi yakında aktif olacak.</p>
</div>
{% endblock %}
