{% extends 'common/base.html.twig' %}
{% block title %}Kutu{% endblock %}
{% block content %}
<div class="omni-page">
    <h1 class="omni-page-title"><i class="fa-solid fa-box"></i> Kutu Sistemi</h1>
    <p>Kutu sistemi yakında aktif olacak.</p>
</div>
{% endblock %}
