{% extends 'common/base.html.twig' %}
{% block title %}Makale Yaz{% endblock %}
{% block content %}
<div class="omni-page">
    <h1>Makale Yaz</h1>
    <p>Makale yazma sistemi yakında aktif.</p>
</div>
{% endblock %}
