{% extends 'common/base.html.twig' %}
{% block title %}İlan Ver{% endblock %}
{% block content %}
<div class="omni-page">
    <h1>İlan Ver</h1>
    <p>Kara pazar ilan sistemi yakında aktif.</p>
</div>
{% endblock %}
