{% extends 'common/base.html.twig' %}
{% block title %}Kara Pazar{% endblock %}
{% block content %}
<div class="omni-page">
    <h1 class="omni-page-title"><i class="fa-solid fa-mask"></i> Kara Pazar</h1>
    <p>Kara pazar yakında aktif olacak.</p>
</div>
{% endblock %}
