{% extends 'common/base.html.twig' %}
{% block title %}Erişim Kısıtlı{% endblock %}
{% block content %}
<div class="omni-page">
    <div class="omni-empty-state">
        <i class="fa-solid fa-ban"></i>
        <p>Bu alana erişim için kongre üyesi olmanız gerekiyor.</p>
    </div>
</div>
{% endblock %}
