{% extends 'common/base.html.twig' %}
{% block title %}Yasa Teklifi{% endblock %}
{% block content %}
<div class="omni-page">
    <h1>Yasa Teklifi #{{ law.id }}</h1>
    <p>{{ law.reason }}</p>
</div>
{% endblock %}
