{% extends 'common/base.html.twig' %}
{% block title %}Mesajlar{% endblock %}
{% block content %}
<div class="omni-page">
    <h1 class="omni-page-title"><i class="fa-solid fa-envelope"></i> Mesajlar</h1>
</div>
{% endblock %}
