{% extends 'common/base.html.twig' %}
{% block title %}Gazete Kur{% endblock %}
{% block content %}
<div class="omni-page">
    <h1>Gazete Kur</h1>
    <p>Gazete kurma sistemi yakında aktif.</p>
</div>
{% endblock %}
