{% extends 'common/base.html.twig' %}
{% block title %}Dünya Haritası{% endblock %}
{% block content %}
<div class="omni-page">
    <h1 class="omni-page-title"><i class="fa-solid fa-earth-europe"></i> Dünya Haritası</h1>
    <p>Harita yakında aktif olacak.</p>
</div>
{% endblock %}
