{% extends 'common/base.html.twig' %}
{% block title %}Savaşlar{% endblock %}
{% block content %}
<div class="omni-page">
    <h1 class="omni-page-title"><i class="fa-solid fa-shield-halved"></i> Savaşlar</h1>
    <p>Aktif savaş bulunmuyor.</p>
</div>
{% endblock %}
